@charset "ISO-8859-1";
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #212529;
    background-color: #fff;
}

.header {
    background: #f8f9fa;
    margin-top: 0;
}
.top-nav {
    margin-bottom: 0px;
    background: #dc3545;
    border-bottom: 2px solid hsl(45deg 100% 60% / 63%);
}
.home-right-banner {
    border-left: 5px solid #f8f9fa;
}
.home-right-banner a:last-child img {
    border-top: 5px solid #f8f9fa;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.all-categories {
    background: #dc3545;
}
.top-nav.container.top-mymenu.a {
    color: #f8f9fa;
    font-weight: normal;
    text-decoration: none;
}
.flexslider .slides img {
    height: 450px;
}
.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active {
    color: #f8f9fa;
    font-weight: normal;
    text-decoration: none;
}
.top-search {
    max-width: 335px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

element.style {
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: -1px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-btn>.btn {
    position: relative;
}
.search-btn {
    border-radius: 30px;
    height: 50px;
    background: #FDA343;
    border-color: #FDA343;
    padding: 0 24px 0 15px;
    color: #fff;
    font-size: 14px;
}
.mid-menu {
    text-align: center;
    background: #482321f0;
}
#main-top-menu1	.top-mymenu .main-menu-btn .main-menu > li > a:hover {
    color: #f5ca6e !important;
}
.today-sale-product {
    background: #632329;
    padding-top: 15px;
    padding-bottom: 15px;
}

element.style {
    background-color: #0e406b;
}
