@charset "ISO-8859-1";
/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
	position:relative;
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}

.flexslider .slides:after {
font-family: 'flexslider-icon';
  content: "\0020";
  display: block;
  color:#119E57;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
	
  height: 1%;
  
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/


.flexslider {
  margin: 0px;
  position: relative;
  overflow:hidden;
  zoom: 1;
}
.flexslider .slides {
	
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
}
.flex-viewport {
   max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { 
		text-decoration:none; 
		display: inline-block; 
		text-align:center;
		padding:0px 15px; 
		margin: 0px 0 0; 
		position: absolute; 
		top: 45%; 
		z-index: 10; 
		overflow: hidden; 
		opacity: 0; 
		cursor: pointer; 
		color:#fff;
		background:rgba(0,0,0,0.5); 
		/*text-shadow: 1px 1px 0 rgba(255,255,255,0.3); */
		-webkit-transition: all .3s ease; 
		-moz-transition: all .3s ease; 
		transition: all .3s ease; }
		
.flex-direction-nav .flex-prev { left: 0px; border-right:none; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flex-direction-nav .flex-next { right: 0px; border-left:none;   }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }

.flex-direction-nav a:focus{
	color:#fff !important;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

.flex-direction-nav a:before  { 
								font-family: 'Astloch', cursive;
								font-size: 60px; 
								display: inline-block; 
								content: ''; 
								border-radius:0;
								
								
								
								}
.flex-direction-nav a.flex-prev:before  { content: '<'; }														
.flex-direction-nav a.flex-next:before  { content: '>'; }
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a .flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left:10px;
  text-align: center;
  z-index:1234567;
}
.flex-control-nav li {
  margin: 3px 3px;
  display:block;
  zoom: 1;

}
.flex-control-paging li a {
  width: 15px;
  height: 15px;
  display: block;
  border-radius:50%;
  background:#3D3D3D;
  cursor: pointer;
  text-indent: -9999px;
 
}
.flex-control-paging li a:hover {
  background:#fff;
}
.flex-control-paging li a.flex-active {
  background: #96CA2D !important;
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

.flex-caption {
	/*background:rgba(0,0,0,0.6);*/
	position:absolute;
	/*visibility:hidden;*/
	z-index:1234;
	width:100%;
	bottom:30%;
	padding:10px;
}

.flex-caption h2, .flex-caption h4{
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
	font-size:26px;
	margin:0;
	line-height:1;
	color:#FEFEFE;} 

.flex-caption p{
	/*background:rgba(0,0,0,0.6);*/
	padding:8px 15px;
	color:#fff;
	font-size:14px;
	margin-bottom:0px;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;}
  
  
.bg-grid:after {
    background:url(../images/grid.png) repeat;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.bg-grid {
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
    z-index: -1;
}
@media only screen and (max-width: 1200px) {
.bg-grid {
    position: absolute;
}
}
.bg-grid img {
    height: 100%;
    max-width: none;
    width: 100%;
} 
	
		
.project-wrapper .flex-caption p{
	font-size:22px !important;}
	
.slider-more{
	display:inline-block;
	border-radius:30px;
	background:#006AA4;
	color:#FDFDFD;
	padding:8px 25px;}	

.project-wrapper .flex-control-paging li a{
	display:none;}	


	
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

@media screen and (max-width: 991px) {
	}

@media screen and (max-width: 767px) {

.flex-caption {
	margin:0;
	}

.flex-caption h4, .flex-caption h3 {
	font-size:16px !important;}
.flex-caption p{
	font-size:12px;}
.flex-control-nav{
	bottom:5px;} 

.flex-control-paging li a{
	width:40px;} 

.flexslider{
	top:0;}
.flex-direction-nav{
	display:none;}
}

@media screen and (max-width: 480px) {			
		.flex-caption p{
		display:none;}
	}
	  
