@charset "ISO-8859-1";
.nav-row{width:991px!important;max-width:991px!important}
.nav-col{width:33%!important;display:block!important;float:left!important}
.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{max-width:100%}
.nav-col a{white-space:inherit!important}
.nav-col:nth-child(3n + 1){clear:both!important}
.scrollToTop{text-align:center;font-weight:700;color:#0AD067;position:fixed;z-index:12345;bottom:0;left:25px;display:none;text-decoration:none;padding:8px 15px}
.scrollToTop span{font-size:18px;display:block;margin-top:-8px}
.scrollToTop:hover,.scrollToTop:focus{text-decoration:none}
@media screen and (max-width: 991px) {
.nav-row{width:auto!important;max-width:auto!important}
.nav-col{width:auto!important;display:block!important;float:none!important}
}
a:focus{outline:none!important}
body{font-size:18px;color:#888;line-height:1.5;background:#202020;font-family:'Roboto',sans-serif}
.modal-content{color:#383838}
.search-result-info{font-size:20px}
.search-result-info span{color:#E7E7E7}
.ui-widget.ui-widget-content{border:1px solid #777}
.ui-widget-header{border:1px solid #777;background:#777}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{background:#ccc}
.price-tag-search{color:#E7E7E7}
.cat-info-text{color:#FDA343;margin-top:5px;font-style:italic}
.ribbon{position:absolute;right:-5px;top:-5px;z-index:1;overflow:hidden;width:75px;height:75px;text-align:right}
.ribbon span{font-size:10px;font-weight:700;color:#FFF;text-transform:uppercase;text-align:center;line-height:20px;transform:rotate(45deg);-webkit-transform:rotate(45deg);width:100px;display:block;background:#79A70A;background:linear-gradient(#00A650 0%,#007539 100%);box-shadow:0 3px 10px -5px rgba(0,0,0,1);position:absolute;top:19px;right:-21px}
.ribbon span::before{content:"";position:absolute;left:0;top:100%;z-index:-1;border-left:3px solid #007539;border-right:3px solid transparent;border-bottom:3px solid transparent;border-top:3px solid #007539}
.ribbon span::after{content:"";position:absolute;right:0;top:100%;z-index:-1;border-left:3px solid transparent;border-right:3px solid #007539;border-bottom:3px solid transparent;border-top:3px solid #007539}
.ribbon1{position:absolute;left:0;bottom:0;z-index:1;overflow:hidden;display:inline-block;width:60px;height:20px}
.ribbon1 span{font-size:10px;letter-spacing:1px;color:#FFF;text-transform:uppercase;line-height:20px;width:58px;display:block;background:#FDA343;border-radius:0 30px 30px 0;padding-left:10px;position:absolute;top:0}
.page-wrapper a{color:orange}
.page-wrapper a.p-title{color:#FEFEFE}
.page-wrapper strong{color:#ccc;font-weight:500!important}
a:hover,a:focus{color:#DA353B}
h1,h2,h3,h4,h5,h6{font-family:'Roboto',sans-serif}
blockquote{color:#F0F0F0}
h2{font-size:32px}
h3{font-size:26px}
h4{font-size:22px}
.hvr-fade{display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;overflow:hidden;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:color,background-color;transition-property:color,background-color}
.hvr-fade:hover,.hvr-fade:focus,.hvr-fade:active{background-color:#00A650;color:#fff}
.share-box span{box-sizing:content-box!important}
img{max-width:100%}
.lazy,.lazy1,.lazy2{visibility:hidden}
.all-categories{cursor:pointer}
option{padding:3px 3px 3px 5px}
.form-group em{color:#EC0000;font-style:normal}
.gap-1{margin-top:15px;margin-bottom:15px}
.gap{margin-top:15px;margin-bottom:15px}
.gap-top{margin-top:15px}
.gap-top-2x{margin-top:30px}
.gap-bottom-2x{margin-bottom:30px}
.gap-bottom{margin-bottom:15px}
label{font-weight:400!important}
@media all and (min-width: 1199px) {
.container{width:1260px}
}
.header{background:#000;margin-top:0}
.cookieAcceptBar{display:none;margin-bottom:0;border-radius:0;background-color:#000;border-color:#343338;color:#F2F2F2}
.cookieAcceptBar .close{color:#fff!important;opacity:1}
.cookieAcceptBar a{color:#DAA520;text-decoration:none;font-weight:700}
.cookieAcceptBar ul{list-style:none;padding-left:15px}
.cookieAcceptBar ul li{font-size:18px}
.cookieAcceptBar ul li a{color:#fc3}
.cookieAcceptBar .read-notice{font-size:14px;color:#616161}
.cookieAcceptBar ul li p{font-size:14px}
.lifetime-warranty{text-align:center}
.lifetime-warranty a{border-radius:0 0 30px 30px;border:1px solid #630b0e;border-top:none;padding:8px 25px;letter-spacing:1px;display:inline-block;color:#DA353B;font-size:12px}
.top-right{margin-top:35px}
.top-right ul{list-style:none;margin:0;padding:0;float:right}
.top-right ul li{display:inline-block;padding:0 0 0 15px}
.top-right ul li a i{color:#fc3}
.top-right ul li a{color:#999;font-size:15px;padding:10px 3px;display:inline-block}
.top-right ul li a:hover,.top-right ul li a:focus{text-decoration:none}
.top-right .dropdown-menu{border-radius:0!important;padding:15px!important;border:none;color:#373737;min-width:300px}
.top-right .dropdown-menu li{padding:0;color:#373737;display:block!important}
.top-right .dropdown-menu li a{color:#373737}
.cart-link:hover,.cart-link:focus{text-decoration:none}
.dash-cart{height:2px;background:#3C3C3C;margin-top:5px;margin-bottom:5px}
.user-name{color:#FBFBFB!important}
.cart-inner:after{bottom:100%;right:8%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(255,255,255,0);border-bottom-color:#fff;border-width:10px;margin-left:-10px}
.cart-inner .col{padding-left:15px;padding-right:5px}
.cart-inner a{padding:0!important}
.cart-price{color:#8D8D8D}
.cart-price span{color:#0AD067}
.total{padding-bottom:25px}
a.Proceed-Checkout{margin-top:15px;background:#0AD067;display:block!important;padding:10px 15px!important;text-transform:uppercase;border:none;color:#fff!important;text-align:center}
a.Proceed-Checkout:hover,a.Proceed-Checkout:hover{text-decoration:none;color:#000!important}
.top-ad-search{background:#343338!important;color:#888;border-radius:0}
.top-ad-search .modal-header{border-bottom:1px solid #45434b}
.modal-content{border-radius:0;background:#ddd}
.social-connect{margin-right:0;color:#6e6e6e;text-align:center;min-height:250px;position:relative}
.login-separator{position:absolute;float:left;margin:20px 0;padding:0 10px;top:0;bottom:0}
.separator{position:absolute;height:100%;left:50%;border-left:1px solid #979797}
.separator span{display:block;width:36px;height:36px;position:absolute;top:45%;left:-18px;font-size:18px;color:#666;text-align:center;line-height:36px;background-color:#343338}
.social-connect{color:#CACACA}
.facebook{background:#4267b2;color:#FFF;min-width:220px;text-align:center;text-transform:uppercase;padding:10px 25px;border:none;border-radius:0}
.google{background:#DF4A32;color:#FFF;min-width:220px;text-align:center;text-transform:uppercase;padding:10px 25px;border:none;border-radius:0}
.login{border-radius:3px;background:#0AD067;text-transform:uppercase;color:#fff;padding:10px 25px}
.logo{padding-top:0;padding-bottom:18px}
.top-search{max-width:335px;margin-top:32px;margin-left:auto;margin-right:auto}
.keword-search{height:50px;border-radius:30px 0 0 30px!important;padding-left:20px;border:none!important;color:#fc3;font-size:18px;border:none;background:#343338}
.top-search	.input-group-btn .input-group-addon,.top-search .input-group-btn{z-index:123}
.search-btn{border-radius:30px;height:50px;background:#FDA343;border-color:#FDA343;padding:0 24px 0 15px;color:#fff;font-size:14px}
.search-btn:hover,.search-btn:focus{background:none}
.adv-search{font-size:14px;padding-right:15px;margin-top:5px;color:#F7F7F7}
.adv-search a{color:#FDA343}
.forgot-pw{color:#A4A4A4;font-size:12px}
.register{color:#E60000}
.left-title{background:#FC7C04}
.left-title h2{color:#F1F1F1;margin:0;padding:8px 10px;font-size:24px}
.search-btn-page{width:100%;background:#03A8CB;color:#FBFBFB;padding:10px 12px;border:none}
.slide-panel{padding-bottom:30px;background:#fafafa;padding-top:50px}
.slide-product{padding:30px;border:1px solid #ddd}
.slide-item .img-thumbnail{border-radius:0;padding:15px}
.mid-menu{text-align:center;background:#000}
.mid-menu ul{list-style:none;padding:0;margin:0}
.mid-menu ul li{display:inline-block}
.mid-menu ul li a{color:#b7b6b6;padding:12px 15px;text-transform:uppercase;display:block}
.mid-menu ul li a:hover{background:#00A650;color:#CECECE;text-decoration:none}
.home-right-banner{border-left:5px solid #343338}
.home-right-banner a:last-child img{border-top:5px solid #343338}
.slider-wrap .col-sm-9{padding-right:0}
.slider-wrap .col-sm-3{padding-left:0}
.feature-title h3{margin:0;font-size:32px;margin-bottom:15px;display:inline-block;background:#fafafa;color:#5AC6DD;padding:0 15px}
.feature-title{margin-top:-50px;padding-bottom:20px}
.p-title{padding:8px 0;font-size:16px;line-height:1.1;color:#FFF;display:block}
.side-title h3{margin-top:0}
.p-title:hover,.p-title:focus{color:#B4B4B4;text-decoration:none}
.price-tag{background:#8BC63F;padding:3px 15px;font-size:12px;color:#fff;display:inline-block}
.offer-wrap{background:#393939;padding-top:0;padding-bottom:0}
.deal-title{margin-top:-30px;padding-bottom:20px}
.deal-title h3{margin:0;font-size:26px;margin-bottom:15px;display:inline-block;background:#fafafa;color:#0AD067;padding:0 15px}
.deal-title1{margin:0;font-size:16px;text-transform:uppercase;display:block;color:#01A54E;padding:10px 9px}
.deal-title1 h3{font-size:16px;text-transform:uppercase;margin:0}
.deal-product{background:#4a4a4a;padding:10px 15px 15px}
.deal-product img{border:5px solid #727272;border-radius:0 0 5px 5px}
.view-detail{background:#0AD067;display:block;padding:10px 15px;text-transform:uppercase;border:none;color:#fff;text-align:center}
.view-detail:hover,.view-detail:hover{text-decoration:none;color:#fff}
.shop-more{margin-top:15px;background:#0AD067;display:inline-block;padding:5px 35px;text-transform:uppercase;border:none;color:#fff;text-align:center}
.shop-more:hover,.shop-more:hover{text-decoration:none;color:#fff}
.today-sale-product{background:#343338;padding-top:15px;padding-bottom:15px}
.today-p-title{margin-bottom:0}
.today-p-title h1{font-size:32px;margin-top:0}
.today-p-title h2{font-size:32px;margin-top:0}
.today-tag span{background:#0AD067;padding:3px 10px;color:#fff}
.upload-file-wrap{position:relative}
.upload-file{position:absolute;top:-140px}
.upload-file .progress{margin:5px 0}
.upload-file label{margin:0}
.btn-upload-down{margin-top:80px}
.effects .img{position:relative;margin-bottom:0;overflow:hidden}
.effects .img img{display:block;margin:0;padding:0}
.overlay{display:block;position:absolute;z-index:20;background:rgba(0,0,0,0.6);overflow:hidden;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s}
a.close-overlay{display:block;position:absolute;top:0;right:0;z-index:100;width:45px;height:45px;font-size:20px;font-weight:700;color:#fff;line-height:45px;text-align:center;background-color:#000;cursor:pointer}
a.close-overlay.hidden{display:none}
a.expand{display:inline-block;border:2px solid #fff;max-width:160px;font-size:16px!important;padding:0 15px;text-transform:uppercase;position:absolute;z-index:100;text-align:center;color:#fff;line-height:50px}
a.expand:hover{text-decoration:none}
#effect-6 .overlay{top:0;bottom:0;left:0;right:0;opacity:0}
#effect-6 .overlay a.expand{left:0;right:0;top:0;margin:0 auto;opacity:0;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s}
#effect-6 .img.hover .overlay{opacity:1}
#effect-6 .img.hover .overlay a.expand{top:50%;margin-top:-30px;opacity:1}
.product-item{margin-bottom:30px}
.product-new{background:#009d57;color:#fff;padding:3px 5px;position:relative;z-index:12;left:0}
.product-new:before{border-color:#009d57 transparent;border-style:solid;border-width:5px 5px 0 0;content:".";font-size:0;height:0;left:0;position:absolute;bottom:-4px;width:0}
.product-inner{padding:15px 10px;font-size:14px;color:#ddd;border:1px solid #4A4A4A;border-top:none;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.video-wrap{background:#000;padding-top:0;padding-bottom:0}
.list-bar{background:#202020;padding:15px}
.list-bar ul{list-style:none;margin:0;padding:0}
.list-bar ul li{padding:5px 10px;display:block;border-bottom:1px solid #434248}
.list-bar ul li:last-child{border-bottom:none}
.list-bar ul li a{color:#888}
.useful-nav ul li a{color:#F7F7F7}
.khukuri-month-title{color:#00A750}
.button-shop-now{border-radius:30px;padding:10px 25px;font-size:18px;text-transform:uppercase;background:#000;clear:both;color:#fff}
.button-shop-now:hover{background:#fc3;border-color:#34495E}
.blade-tag{font-size:12px;margin-bottom:5px}
.reating-tag i{font-size:10px;color:#D0D0D0}
.weight-tag{font-size:12px;margin-bottom:5px}
.availability-tag{color:#45DB8B}
.availability-tag strong{color:#ddd}
.text-desc{padding:30px 30px 30px 0}
.text-desc-pas{padding:30px 0 30px 30px}
.pro-title{font-size:26px;font-weight:700;color:#03A8CB}
.pasmina-pro{background:#fff;padding:30px}
.c-title{font-size:22px;display:block;line-height:1.2;display:block}
.product-info-b{display:inline-block}
.popular-product{background:#fff;padding-top:30px;padding-bottom:50px}
.product-sale{background:#EF4323;color:#fff;padding:3px 5px;position:relative;z-index:12;left:0}
.product-sale:before{border-color:#EF4323 transparent;border-style:solid;border-width:5px 5px 0 0;content:".";font-size:0;height:0;left:0;position:absolute;bottom:-4px;width:0}
.product-off{background:#EF4323;color:#fff;padding:3px 5px;position:relative;z-index:12;left:0}
.product-off:before{border-color:#EF4323 transparent;border-style:solid;border-width:5px 5px 0 0;content:".";font-size:0;height:0;left:0;position:absolute;bottom:-4px;width:0}
.feature-product ul{list-style:none;padding-left:0}
.product-img{margin-top:0;display:block}
.home-tag{font-size:18px;color:#EF4323;margin-top:0;margin-bottom:0;padding-bottom:10px;border-bottom:1px dashed #ddd}
.home-tag del{color:#757575;font-size:14px}
.special-pkg .home-tag{border:none}
.product-view{border-top:1px dashed #ddd;padding-top:10px;margin-top:10px}
.product-view a{min-width:50px;margin-right:10px;font-size:18px}
.pkg-img{position:relative}
.wishlist-btn{background:none;border:none}
.pkg-img ul{list-style:none;margin:0;padding:0;position:absolute;top:30px;left:-15px;z-index:12}
.pkg-img ul li{margin-bottom:8px;color:#646464}
.pkg-img ul li:hover i{background:#45DB8B;color:#fff}
.pkg-img ul li i{background:rgba(0,0,0,0.5);color:#B5B5B5;border-radius:50%;padding:6px}
.p-price-tag{color:#fc3;font-size:26px}
.p-price-tag span{font-size:24px;display:inline-block;color:#fc3}
.shipping-price{color:#fc3}
.p-price-tag del{color:#c5211f;font-size:22px}
.choose-option{display:block;padding:5px 6px;border:1px solid #ddd;border-radius:30px;color:#ddd!important;text-align:center}
.addto-cart-pkg{text-transform:uppercase;font-size:12px;color:#307131}
.choose-option:hover,.choose-option:focus{text-decoration:none;color:#fff}
.addto-cart-pkg:hover,.addto-cart-pkg:focus{text-decoration:none;color:#8B141A}
.amt-clr{color:#01A651}
.addto-cart{background:#000;display:block;padding:8px 15px;border:none;border-radius:30px;color:#fff;text-align:center}
.addto-cart:hover,.view-product:hover{text-decoration:none;background:#00A650;color:#fff}
.view-product{background:#F7941E;display:inline-block;padding:8px 10px;color:#fff;text-align:center}
.filter-titles{background:#1B1A1F;padding:10px 15px;margin-top:5px;border-bottom:1px solid #414045}
.panel-body ul{list-style:none;margin:0;padding:0}
.panel-body ul li{padding:1px 5px}
.panel-body ul li a{color:#F3F3F3;font-size:14px}
.filter-titles h3{color:#921920;margin:0}
.search-box{background:#1b1a1f;border-top:0;padding:0 10px 15px}
.search-box .ui-widget-header{border-color:#e2001a;background:#e2001a}
.search-box .ui-widget.ui-widget-content{border-color:#e2001a}
.search-box .ui-state-default,.search-box .ui-widget-content .ui-state-default,.search-box .ui-widget-header .ui-state-default,.search-box .ui-button,html .ui-button.ui-state-disabled:hover,.search-box html .ui-button.ui-state-disabled:active{background:#323433;border:5px solid #323433}
.search-box-header .form-control{height:28px!important;box-shadow:none!important;margin-top:5px}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{background:none;border:none}
.filter-wrap h4{color:#F3F3F3}
.search-box .form-control{height:28px!important;border-color:#191a1f;background:#191a1f;margin-top:5px}
.search-box .form-control:focus{border:none!important}
.filter-wrap{background:#1b1a1f;border-top:0;padding:15px}
.panel{background:#1b1a1f}
.panel-default>.panel-heading{background:#1b1a1f;color:#FCFCFC;border-color:#1b1a1f}
.panel-default>.panel-heading+.panel-collapse>.panel-body{border-color:#1b1a1f}
.panel-heading a{padding:11px 0;color:#F8F8F8;font-size:16px;border-bottom:1px solid #414045;display:block}
.panel-heading a:hover,.panel-heading a:focus{text-decoration:none}
.panel-heading{padding:0;background:#1b1a1f}
.panel-default{border:none}
.filter-box ul{list-style:none;padding:0;margin-bottom:0}
.filter-box ul li{padding:3px 0}
.filter-box ul li label{font-weight:400}
.filter-box input[type="checkbox"]{margin-right:10px}
.other-title{margin-bottom:15px;font-size:28px;color:#43A473}
.notice-title{font-size:30px}
.newsletter{background:#0AD067;padding-top:30px;padding-bottom:30px;color:#FBFBFB}
.newsletter h3{margin-top:0;font-size:18px}
.newsletter p{font-size:12px}
.newsletter .input-group .form-control{height:45px;border-color:#fff;font-size:16px}
.newsletter .form-control:focus{box-shadow:none;border-color:#A0A0A0}
.subscribe-btn{border-radius:0;background:#077f35;color:#fff}
.subscribe-btn:hover{border-color:#34495E}
.search-btn1{border-radius:30px;padding:10px 25px;font-size:18px;text-transform:uppercase;background:#000;color:#fff}
.search-btn1:hover{background:#fc3;border-color:#34495E}
.news h3,.news h2{margin-top:0}
.motto h1{margin-top:0;color:#fc3;font-size:32px}
.motto h2{margin-top:0;color:#fc3;font-size:32px}
.footer-contact{font-size:15px}
.footer-contact i{color:#ddd;text-align:center}
.footer-contact	a{color:#999}
.social-links{margin-top:0;margin-bottom:0;padding-left:0;padding-bottom:0}
.social-links li{display:inline-block;padding:5px 15px 5px 0}
.social-links li a{transition:background-color .8s ease;-webkit-transition:background-color .8s ease;color:#4E4E4E;width:32px;height:32px;border:1px solid #B4B4B4;text-align:center;display:inline-block;padding:5px;line-height:23px}
.social-links li a i{color:#B4B4B4;font-size:14px}
.social-links li a i:hover{color:#FDFDFD!important}
.social-links li a.fb:hover{background:#344D82}
.social-links li a.tw:hover{background:#2AA9E0}
.social-links li a.youtube:hover{background:#EB2429}
.social-links li a.googleplus:hover{background:#D3492C}
.social-links li a.linkedin:hover{background:#02669A}
.search-box-header input{font-weight:700;color:#999!important}
.product-quantity{color:#43A473;font-weight:400}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{border-color:#756f6f}
.cart-product img{max-width:100px;margin:0 5px 0 0}
.cart-content{font-size:14px;background:#343338}
.cart-content ul{list-style:none;padding:0;margin:0}
.cart-content ul li{margin-bottom:5px}
.cart-content table{margin-bottom:0}
.cart-content .table > tbody > tr > td,.cart-content.table > tbody > tr > th,.cart-content.table > tfoot > tr > td,.cart-content.table > tfoot > tr > th,.cart-content.table > thead > tr > td,.cart-content.table > thead > tr > th{vertical-align:middle;border-color:#4c4b4f}
.cart-content .table-bordered>tbody>tr>td,.cart-content.table-bordered>tbody>tr>th,.cart-content.table-bordered>tfoot>tr>td,.cart-content .table-bordered>tfoot>tr>th,.cart-content .table-bordered>thead>tr>td,.cart-content .table-bordered>thead>tr>th{border-color:#4c4b4f;border-color:#4c4b4f}
.cart-content .table-bordered{border-color:#4c4b4f}
#shipping-country option{color:#343434}
.cart-total-wrap ul{margin:0;padding:0;list-style:none}
.cart-total-wrap ul li{padding:0}
.cart-total-wrap ul li a{font-weight:700;font-size:18px;color:#8b141a}
.total-cart{font-size:34px}
.cart-right-total{color:#fc3;font-size:19px}
.cart-header{font-size:14px;color:#b9b7b7;text-transform:uppercase}
.cart-content.table-bordered > thead > tr > td,.cart-content .table-bordered > thead > tr > th{border-bottom:0}
.numbers-row .form-control{display:inline-block;border-radius:0;margin-top:1px;height:34px;width:80px;text-align:center}
.cart_description .product-name{font-weight:700;font-size:16px;color:#43A473}
h4.product-name{font-size:18px;color:#EDEDED}
#quantity{padding-top:2px}
#quantity1{width:40px!important}
#quantity2{width:40px!important}
#quantity3{width:40px!important}
.feature-detail ul{list-style:none;padding-left:0}
.feature-detail ul li{border-top:1px solid #ddd;padding-bottom:10px;padding-top:10px}
.ix-link{display:block;margin-bottom:3em}
.product-heading h1{margin-top:0;font-size:28px;color:#43A473}
@media (max-width: 900px) {
.detail,.drift-demo-trigger{float:none}
.drift-demo-trigger{max-width:100%;width:auto;margin:0 auto}
.detail{margin:0;width:auto}
}
.help-support{position:fixed;bottom:-5px;z-index:1246;right:50px}
.help-support img{height:20px}
.help-support .popover-content a{color:#373737!important}
.help-support .popover-content{padding-left:0;min-width:240px}
.dropdown-menu{background:#ddd}
.popover-title{background:#ddd}
.left-image{float:left;max-width:80px;float:left;margin:10px 10px 0 15px}
.add_button{border-radius:0}
.btn-look{min-width:170px;text-align:center;padding:10px 25px;background:#51C2DB;color:#fff}
.btn-checkout{padding:10px 15px;display:block;background:#00AE57;color:#fff}
.btn-checkout:hover,.btn-look:hover{text-decoration:none}
.approx-tag{text-align:right;color:#fc3;font-size:12px;padding-top:10px}
.breadcrumb{background:none;border-radius:0;padding-top:5px;padding-bottom:5px;padding-left:0;font-size:14px;margin-bottom:15px}
.breadcrumb li a{color:#999}
.breadcrumb>.active{color:#ddd}
.breadcrumb>li+li:before{color:#8B141A}
.one-select{color:#E5E5E5}
.user-panel .list-group{display:inline-block;padding:0;border:none;border-radius:0}
.user-panel .list-group-item{border-radius:0;padding:10px 30px 10px 15px}
.your-order{background:#202020;padding:15px 15px 5px;margin-bottom:25px}
.checkout-form select option{color:#606060}
.your-order ul li{font-size:12px}
.your-order h3{margin-top:0}
.tab-content{border-top:none}
.text-warning{color:#fc3}
.form-signup-option	span{cursor:pointer}
.asc-view{position:relative;top:3px;left:12px;margin-bottom:0;line-height:0}
.asc-view i{color:#FEFEFE!important;font-size:20px!important}
.asc-view .fa{line-height:0;top:3px}
.login-wrap	label{color:#797979}
.login-wrap i{color:#F3F3F3}
.login-wrap .input-group-addon{background:#3E3E3E;border:1px solid #3E3E3E;border-radius:0}
.login-wrap a{color:#FAFAFA}
.login-wrap p{color:#b2b2b2;font-size:16px}
.login-btn i,.login-btn-r i{color:#fff}
.login-btn{transition:background-color .8s ease;-webkit-transition:background-color .8s ease;border:none;background:#00A650;padding:8px 25px;color:#fff;font-size:16px;text-transform:uppercase;display:inline-block}
.login-btn:hover{background:#E07314}
.login-btn-r{transition:background-color .8s ease;-webkit-transition:background-color .8s ease;border:none;background:#58585A;padding:10px 15px;color:#fff;text-transform:uppercase;display:block}
.login-btn-r:hover{background:#E07314}
.btn-look{background:#00A650;display:inline-block;padding:5px 20px;margin-left:10px;border:none;border-radius:30px;color:#fff!important;text-align:center}
.btn-look:hover{text-decoration:none}
.login-without{padding:10px 0}
.billing-address{padding:0}
.delivery-address{padding:0}
.billing-address h3{color:#43A473}
.belling-title h3{display:inline-block}
.belling-title span{margin-top:25px;display:inline-block}
.profile-info{padding-bottom:20px}
.profile-box{padding:0}
.profile-info .col-sm-8{border-right:1px solid #393939}
.profile-box ul{margin:0;padding:0;padding-left:0}
.profile-box li{padding-left:23px;list-style:none;font-size:16px;position:relative;margin-bottom:5px}
.profile-box li:after{font-family:'FontAwesome';content:'\f18e';position:absolute;left:0;top:3px;list-style:none;margin-bottom:5px}
#pinBoxContainer .col-sm-9 ul li{padding-left:23px;list-style:none;font-size:15px;position:relative;margin-bottom:5px}
#pinBoxContainer .col-sm-9 ul li:after{font-family:'FontAwesome';content:'\f18e';position:absolute;left:0;top:3px;list-style:none;margin-bottom:5px}
.responsive-tabs .tab-contant ul li{padding-left:23px;list-style:none;font-size:16px;position:relative;margin-bottom:5px}
.responsive-tabs .tab-contant ul li strong{font-weight:400!important}
.cart-content strong{font-weight:400!important}
.responsive-tabs .tab-contant ul li:after{font-family:'FontAwesome';content:'\f18e';position:absolute;left:0;top:3px;list-style:none;margin-bottom:5px}
.news-heading h3,.news-heading h5{margin-top:0;font-size:28px}
.motto h3{margin-top:0}
h5.plus-headding a{font-size:26px;color:#fc3}
.news-title{padding:8px 0;font-size:20px;line-height:1.1;color:#FC3;display:block}
.news-title:hover,.news-title:focus{color:#01A651;text-decoration:none}
.news-box p{font-size:14px}
.mid-footer{background:#202020;padding-top:15px;padding-bottom:0}
.motto{border-bottom:1px solid #1e1c1c;margin-bottom:15px}
.img-tag{color:#fc3;font-size:12px;padding-top:5px}
.view-more{color:#e7d207;font-size:16px;padding-top:5px}
.coupon-wrap{max-width:290px;margin-bottom:10px;margin-top:5px}
.coupon-box{width:160px;display:inline-block}
h3.my-order{margin-top:0}
.payment-info{font-size:14px}
.payment-info-text{color:#fc3;font-size:18px}
.submit-depot-img{background:none;padding:0;border:none}
.submit-depot-title{background:none;padding:0;border:none;padding:8px 0;font-size:16px;line-height:1.1;color:#FFF;display:block}
.submit-depot-detail{background:none;border:none;display:block;padding:5px 6px;border:1px solid #ddd;border-radius:30px;color:#ddd!important;text-align:center}
.submit-depot-detail:hover,.submit-depot-detail:focus{text-decoration:none;color:#fff}
.footer{background:#000;color:#999;padding-top:25px;padding-bottom:0}
.footer-link .form-control{background-color:#FEFEFE;border:1px solid #fff;color:#393939!important}
.footer-link h6{font-size:22px}
.footer-link ul{list-style:none;float:left;padding:0}
.footer-link ul li a{color:#999;padding:2px 6px;font-size:15px;display:inline-block}
.footer-bottom{background:#000;font-size:80%;padding-top:15px;padding-bottom:10px}
.footer-bottom img{max-height:40px;margin-top:-20px;margin-bottom:15px}
.footer-bottom a{color:#B5B5B5}
.f-text{color:#999}
.checkout-page{background:#343338}
blockquote{color:#C6C6C6}
.page-wrapper{padding-bottom:30px;background:#343338}
.page-wrap{background:#343338}
.category-page{padding-bottom:1px;background:#343338}
.package-wrapper{padding-bottom:1px;background:#343338}
.page-wrapper1{padding-bottom:30px;background:#343338}
.page-inner h1{margin-top:0;font-size:28px;color:#43A473}
.navigation-page h1{margin-top:0;font-size:28px;color:#43A473}
.navigation-page{background:#343338}
.side-title{background:#000;padding-right:10px;padding-left:15px}
.side-title h3{margin-bottom:0;text-transform:uppercase;padding-top:10px;padding-bottom:10px}
.feature-heading h1{margin-top:0}
.navigation-page .page-title h1{font-size:26px}
.form-control{border-radius:0;color:#E5E5E5;background:#191717;border:1px solid #756f6f}
.billing-address .form-control{border-radius:0;color:#E5E5E5;background:#191717;border:1px solid #756f6f}
.form-control1{width:50px;text-align:center;color:#373737;border:none}
.addon-qty select{border:none;color:#636363}
.tab-contant .form-control{background-color:#191717;border:1px solid #756f6f}
.tab-contant .form-control option{color:#4C4C4C}
.modal-header{border-bottom:1px solid #ccc}
.modal-footer{border-top:1px solid #ccc}
.top-ad-search .close{color:#fff!important}
.btn-info{background:#00A74F;border-color:#00A74F}
.product-heading{padding-bottom:5px}
.tab-wrapper{background:#343338}
.responsive-tabs-wrapper{padding:0}
.specification ul li{font-size:18px}
.gap-11{margin-bottom:15px}
select.form-control option{background-color:#fff;color:#4F4F4F;padding:10px 0}
.product-cost select.form-control{border-radius:0;background-color:#191717;border:1px solid #756f6f}
.addon-option{border-radius:0;width:40px;height:20px;background-color:#191717;border:1px solid #756f6f}
.checkbox2{font-size:14px}
.addons-box{background:#202020;padding:15px}
.addons-box .checkbox2{font-size:14px}
.checkbox2+.checkbox2,.radio+.radio{margin-top:0}
.checkbox2 label{padding-left:0}
.product-cost select.form-control option{background-color:#fff;color:#787878;padding:10px 0}
.form-control:focus{box-shadow:none;border-color:#E10000}
textarea.form-control{height:auto}
.send-us{border-radius:3px;background:#0AD067;color:#fff;padding:10px 25px}
.page-not-found h1{font-size:200px;color:#f04742}
p.page-not-title{font-size:40px}
a.read-more{background:#1C7EC0;color:#fff;padding:8px 15px}
a.read-more:hover{text-decoration:none}
.detail-price{font-size:32px;color:#45DB8B}
.detail-price del{color:#c5211f}
.detail-price strong{color:#ddd}
.product-cost{margin-top:-15px}
.detail-price-info{margin-bottom:0}
.add-to-cart{transition:background-color .8s ease;-webkit-transition:background-color .8s ease;border:none;border-radius:30px;background:#000;border:1px solid #919191;min-width:150px;text-align:center;padding:5px 25px;font-size:16px;color:#E6E6E6;text-transform:uppercase;display:block}
.add-to-cart:hover{background:#00A650}
.orderblank{transition:background-color .8s ease;-webkit-transition:background-color .8s ease;border:none;border-radius:5px;background:#000;border:1px solid #919191;text-align:center;padding:8px 10px;font-size:12px;color:#E6E6E6;display:block}
.orderblank:hover{background:#00A650}
.AddtoWishlist{display:inline-block;padding:3px 10px;border-radius:0;font-size:12px;text-align:center;margin-top:0;border:none;color:#F8F8F8;border:1px solid #ddd}
.AddtoWishlist:hover{border:1px solid #fff;color:#fff}
.update-cart{display:inline-block;padding:3px 15px;border-radius:30px;font-size:16px;text-align:center;margin-top:10px;background:none;border:none;color:#F8F8F8;border:1px solid #ddd}
.update-cart:hover{border:1px solid #EF4323;background:#EF4323;color:#fff}
.buynow{transition:background-color .8s ease;-webkit-transition:background-color .8s ease;border:none;border-radius:30px;background:#000;border:1px solid #919191;min-width:150px;text-align:center;padding:5px 25px;font-size:16px;color:#E6E6E6;text-transform:uppercase;display:block}
.buynow:hover{background:#00A650}
.plus-headding i{display:none}
.responsive-tabs h2{font-size:24px}
.responsive-tabs h3{font-size:22px}
.responsive-tabs h4{font-size:20px}
.text-image-title{font-size:14px;font-style:italic}
.share-btn{font-size:22px;color:#00A650;padding-left:0}
.share-btn:hover,.share-btn:focus{text-decoration:none;color:#00A650}
.options-name a{font-weight:400;color:#ccc}
.nav-tabs{border-bottom:none}
.nav-tabs a{color:#999}
.nav-tabs>li>a{border:1px solid #999;margin-left:10px;border-radius:5px}
.pkg-img ul{list-style:none!important;margin:0;padding:0}
.pkg-img ul li{list-style:none!important;padding-left:0!important}
.pkg-img ul li:after{display:none}
.pagination >.active > a,.pagination >.active > a:focus,.pagination > .active > a:hover,.pagination > .active > span,.pagination > .active > span:focus,.pagination > .active > span:hover{border-color:orange;background:orange}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{background:#000;border-color:#000;color:#999}
.pagination>li>a,.pagination>li>span{background:#000;border-color:#4E4E4E;color:#999}
.cat-heading{margin-top:15px}
#gallery_01f a:hover,#gallery_01f a:focus{text-decoration:none}
#gallery_01f .active img{border:2px solid #C3070A}
@media screen and (max-width: 767px) {
.header{margin-top:0}
.logo{padding-top:5px;padding-bottom:5px}
.top-header{text-align:center}
.buynow,.add-to-cart{font-size:14px}
.slider-wrap .col-sm-9{padding-left: 0;}
.text-image-main img{width:100%;max-width:100%;height:auto!important}
.plus-headding{cursor:pointer;border-bottom:1px solid #1E1E1E;padding-top:10px;padding-bottom:10px;margin-top:0;font-size:18px!important}
.nav>li>a{position:relative;display:block;padding:6px 15px;margin:5px;margin-bottom:10px;font-size:12px}
.detail-price{margin-bottom:0}
.today-p-title h1{font-size:26px}
.today-sale-product h2{font-size:24px}
.upload-file{top:-320px!important}
.btn-upload-down{margin-top:180px!important}
.contact-page p, .contact-page{word-break: break-all;}
.mid-footer{background:#000}
.profile-info{margin-bottom:0;padding-bottom:0}
.page-wrapper{padding-bottom:0}
.breadcrumb{font-size:10px;margin-bottom:0}
	.zoomContainer{
		overflow: hidden !important;
		max-width: 345px;
	}
	
.approx-tag{padding-top:0;padding-bottom:10px}
.cat -heading{margin-top:5px}
.footer{padding-top:0}
.coupon-box{width:135px}
.motto{border-bottom:none;margin-bottom:0}
.plus-headding i{float:right;display:inline-block}
.m-page-title h1{margin-top:-10px}
.lifetime-warranty a{border:1px solid #630b0e;border-radius:30px;margin-bottom:10px;font-size:9px;padding:5px 10px}
.top-right ul li{padding:2px 0}
.top-right ul li a{font-size:13px}
.top-search{margin-top:0}
.top-search .input-group-btn .input-group-addon,.top-search .input-group-btn{left:0}
.adv-search{margin-top:5px;text-align:right}
.top-right{margin-top:0;padding-top:0;text-align:right;margin-bottom:10px}
.top-right ul li a{padding:0 5px 5px}
.mid-menu ul li a{padding:5px;font-size:12px}
.motto h3{margin-top:0;font-size:24px}
.news-heading h3{font-size:24px}
#main-nav,#cd-cart{top:auto}
.page-wrapper img{max-width:100%;display:block;float:none!important;height:auto!important}
.page-review img{max-width:100%;display:block;float:none!important;height:auto!important}
.sm-clean a span.sub-arrow{text-align: right;}
.sub-arrow{display:block;}
.logo{text-align:center}
.logo img{max-width:40%}
.other-title h3{margin-top:0}
.top-right ul{float:none}
.adv-search{margin-bottom:0}
.social-links{margin-bottom:15px}
.shop-more{padding:5px 15px!important;font-size:14px;border-radius:30px}
.main-menu-btn{padding:3px 0}
.detail-price-info{margin-top:10px;margin-bottom:0}
.mobile-country{margin-top:0}
.social-connect{min-height:10px;margin-bottom:0;text-align:left!important}
.facebook{margin-bottom:0}
.page-wrapper iframe{width:auto;height:auto!important}
.login-separator{display:none}
}
@media screen and (max-width: 992px) {
.top-mymenu{position:relative}
	.top-right{
		margin-top:0;
	}	
#main-top-menu .main-menu-btn{position:absolute;top:0;right:0}
#main-top-menu .sm,#main-top-menu .sm ul,#main-top-menu .sm li{text-align:right}
}
@media screen and (max-width: 480px) {
.page-not-found h1{font-size:100px}
}
@media all and (max-width: 1199px) and (min-width: 767px) {
#menu > li > a{font-size:16px;padding:10px;display:block}
.top-nav{margin-top:5px}
}