<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>eCommerce</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<h1>Cart Items</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
				
					<th>Item Name</th>
					<th>Item Price</th>
					<th>Action</th>
				

				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${listItems}">
					
					<td th:text="${item.product.productName}"></td>
					<td th:text="${item.product.price}"></td>
					<td>
					<a th:href="@{/cart/delete/{cartId}(cartId=${item.id})}" class="btn btn-danger">Remove</a>
					</td>				
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary">Checkout</a>
	</div>
</body>
</html>